.container{
    margin-top: 30px;
}
.bg{
    background-color: #F0FFF0;
}
.btn{
    height: 43px;
    width: 104px;
    top: 25px;
    left: 1201;
    border-radius: 33px;
    padding: 12px, 28px, 12px, 28px;
    gap: 10px;
}
.btn1{
    width: 153px;
    height: 43px;
    top: 470px;
    left: 205px;
    border-radius: 33px;
    padding: 12px, 36px, 12px, 36px;
    gap: 10px;
}
#s1{
    color: #FD511A;
}
#s2{
    color: #21B573;
}
.btn2{
    width: 137px;
    height: 35px;
    top: 1461px;
    left: 158px;
    border-radius: 33px;
    padding: 8px, 28px, 8px, 28px;
    gap: 10px;
}
.one{
    height:270px ;
    width: 270px;
}
.online{
    height: 483px;
    width: 370px;
}
.last{
    height: 300px;
    width: 100%;;
    background-color: #282531;
    padding-top: 50px;
}
.footer{
    background-color:#282531 ;
    margin-top: 0px;
}